<h1>Help</h1>
<p>
  Our strategy for help: An app that does not do anything needs no help. Oh look, some proposed other ideas:
</p>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>